@import "compass/css3";

$icon-font-path: "../assets/fonts/bootstrap/" !default;
$brand-primary: #811c21 !default;
$navbar-default-color: #000 !default;
$navbar-default-link-color: #000 !default;
$navbar-default-link-active-color: #811c21 !default;
$navbar-default-link-hover-color: #811c21 !default;
$navbar-default-link-active-bg: #dcdcdc !default;
$navbar-default-link-hover-bg: #dcdcdc !default;
$index-first-container-height: 800px !default;
$navbar-collapse-max-height: 710px !default;

// Navbar brand label
$navbar-default-brand-color: #811c21 !default;
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  overflow-x: hidden;
}

a {

  &:hover {
    text-decoration: underline;
  }
}

.navbar.navbar-default {
  box-shadow: 1px 1px 10px #aaa;
  border-radius: 0;
  min-height: 90px;
  .container-fluid {
    padding-bottom: 0px;

    a.navbar-brand {
      height: auto;
      padding: 0;
      display: block;
      height: 90px;
      width: 287px;
      background: url("../assets/images/common/logo-red.png") no-repeat center;
      background-size: cover;
    }
    .navbar-right {
      a {
        text-transform: uppercase;
        line-height: 50px;
        padding: 20px 18px;
        letter-spacing: .5px;
        font-weight: bold;
        font-size: 16px;
        &:hover {
          text-decoration: underline;
        }
        @media (max-width: $screen-sm-max) {
          padding: 20px 10px;
          letter-spacing: 0px;
          font-size: 12px;
        }
      }
      .dropdown-menu {
        width: 100%;
        min-width: 1px !important;
        a {
          text-align: left;
          padding: 5px 10px;
          font-size: 12px;
          letter-spacing: 0.5px;
          line-height: 18px;
          text-align: right;
          @media (max-width: $screen-sm-max) {
            text-align: center;
          }
          &:hover {
            text-decoration: underline;
            color: $brand-primary;
          }
        }
      }
    }
  }
  .navbar-toggle {
    border-color: #aaa;
    vertical-align: middle;
    margin-top: 30px;
  }
}

.container, .container-fluid {
  text-align: center;
  padding-bottom: 50px;
  .title {
    margin-top: 70px;
    font-weight: bold;
    letter-spacing: 1px;
  }

}

div.top-right {
  position: absolute;
  right: 0;
  top: 0;
  &.language {
    a {
      border-radius: 0;
      &:hover {
        background-color: $navbar-default-link-hover-bg;
      }
    }
  }
}

.first-container {
  margin-top: 90px;
}

.footer {
  padding: 0;
  color: #fff;
  a {
    color: white;
    &:hover {
      color: $brand-primary;
    }
  }
  > .top {
    padding: 30px 30px;
    background-color: #273a45;
    overflow: hidden;
    ul:first-child {
      text-align: left;
      padding-left: 0;
      overflow: hidden;
      list-style: none;
      > li {
        margin-bottom: 20px;
        height: 150px;
        > div {
          height: 100%;
          background: rgba(80, 100, 110, 0.1);
          padding: 20px 0 0 30px;
          > a {
            font-size: 18px;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
          }
          ul {
            list-style: none;
            padding-left: 0;
          }
        }

      }
    }
    a.pull-left {
      img {
        width: 200px;
      }
    }

    ul.pull-right {
      list-style: none;
      li {
        float: right;
        margin-right: 10px;
        img {
          height: 30px;
        }
      }
    }

  }
  .copyright {
    padding: 15px 0;
    text-align: left;
    background-color: #1b2b33;
    color: #fff;
    .container-fluid {
      text-align: left;
      padding: 20px 30px;
      a {
        margin-right: 10px;
      }
    }
  }
}

#index {
  .navbar.navbar-fixed-top.top {
    box-shadow: none;
    border: none;
    background: transparent;
    .container-fluid {
      padding-bottom: 0px;
      a.navbar-brand {
        background: url("../assets/images/common/logo-white.png") no-repeat center;
      }
      .navbar-right {
        .navbar-nav {
          > .dropdown {
            > a {
              background: transparent !important;
            }
            .dropdown-menu {
              a:hover {
                text-decoration: underline;
                color: $brand-primary;
              }
            }
            &.open {
              background-color: rgba(34, 34, 34, .7);
              > .dropdown-menu {
                background-color: inherit;
              }
              > a, > a:focus {
                text-decoration: underline;
                color: $brand-primary;
              }
              > a:visited, > a:active {
                text-decoration: none;
                color: white;
                background: transparent !important;
              }
            }
          }
        }
        a {
          color: white;
          &:hover, &:active {
            text-decoration: underline;
            color: $brand-primary;
            background: transparent;
          }
        }
        .active {
          > a {
            background: transparent;
            color: $brand-primary;
          }
        }

      }
      .navbar-header {
        .navbar-toggle {
          border-color: white;
          &:hover, &:active {
            background-color: #aaa;
          }
          &:focus {
            background-color: transparent;
          }
          .icon-bar {
            background-color: white;
          }
        }
      }
      .navbar-collapse {
        @media (max-width: $screen-xs-max) {
          border: none;
          background-color: rgba(34, 34, 34, .7);
          height: $navbar-collapse-max-height;
        }
      }
    }
  }
  .first-container {
    margin-top: 0;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
    width: 100%;
    padding: 0;
    .flexslider {
      border: none;
      margin-bottom: 0;
      ul.home_slider {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        li {
          overflow: hidden;
          min-height: $index-first-container-height;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          position: relative;
          .flex-caption {
            color: white;
            height: 50%;
            position: absolute;
            bottom: 120px;
            width: 100%;
            > div {
              height: 240px;
              width: 80%;
              margin: auto;
              h1 {
                font-weight: bold;
                font-size: 44px;
              }
            }
          }
        }
      }
      ul.flex-direction-nav {
        a {
          height: 80px;
          &:before, &:after {
            content: "";
          }
          &.flex-prev {
            background: url(../assets/images/index/first/thin-left.png) center center no-repeat transparent;
          }
          &.flex-next {
            background: url(../assets/images/index/first/thin-right.png) center center no-repeat transparent;
          }
        }
      }
    }
  }
  .second-container {
    .col {
      .icon {
        display: block;
        img {
          height: 75px;
        }
      }
      h3 {
        color: $brand-primary;
      }
      p.comment {
        padding: 0 10px;
      }
    }
  }
  .third-container {
    background-color: #206f85;
    color: #333;
    h3 {
      text-transform: uppercase;
      color: $brand-primary;
      font-weight: bold;
    }
    .col {
      margin-top: 60px;
      &.left {
        h3 {
          margin-bottom: 30px;
          color: white;
        }
        img {
          width: 90%;
        }
      }
      &.right {
        ul {
          margin: auto;
          padding-left: 0;
          @media (min-width: $screen-md-min) {
            margin-top: 100px;
          }
          @media (max-width: $screen-sm-max) {
            width: 90%;
          }

          list-style: none;
          li {
            background-color: rgba(255, 255, 255, 1);
            margin-bottom: 10px;
            padding: 10px 0;
          }
        }
      }
    }
  }
  .fourth-container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #dce5e8;
    h1 {
      font-weight: bold;
      color: $brand-primary;
      text-transform: uppercase;
    }
    .flexslider {
      .flex-viewport {
        .slides {
          height: 300px;

          li {
            background-color: rgba(80, 100, 120, .3);
            padding: 10px;
            height: 100%;
            text-align: left;
            overflow-x: hidden;
            overflow-y: auto;
            h5 {
              font-weight: bold;
              color: $brand-primary;
              font-style: italic;
            }
            img {
              float: left;
              width: auto;
              height: 150px;
              margin-right: 10px;
              margin-bottom: 5px;
            }
          }
        }
      }
      ul.flex-direction-nav {
        a {
          height: 50px;
          &:before, &:after {
            content: "";
          }
          &.flex-prev {
            background: url(../assets/images/index/fourth/left.png) center center no-repeat transparent;
          }
          &.flex-next {
            background: url(../assets/images/index/fourth/right.png) center center no-repeat transparent;
          }
        }

      }
    }
  }
}

#strategy {
  .first-container {
    h1 {
      font-weight: bold;
      margin: 50px 0 30px;
      color: $brand-primary;
    }
    p.comment {
      font-weight: bold;
      margin-bottom: 30px;
    }
    div.col {
      margin-bottom: 30px;
      span.icon {
        img {
          width: 200px;
        }
      }
    }

  }
  .second-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/images/strategy/second/second-bg.jpg");
    padding-bottom: 0px;
    h1 {
      color: #cdf;
      font-weight: bold;
    }
    div.container {
      padding-top: 30px;
      .col {
        > div {
          margin: 20px 0px;
          background: #fff;
          height: 500px;
          padding: 30px;
          text-align: center;
          > span.icon {
            display: block;
            border-radius: 50%;
            width: 70px;
            overflow: hidden;
            margin: 0 auto;
            img {
              width: 70px;
              height: 70px;
            }
          }
          h3 {
            margin-bottom: 20px;
          }
          ul {
            text-align: left;
            padding-left: 25px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: .5px;
            li {
              margin-bottom: 10px;
            }
          }

        }
        @media (min-width: $screen-md-min) {
          &:nth-child(4) {
            margin-left: 16.5%;
          }
        }
      }
    }
  }
}

#cefc {
  .first-container {
    padding: 0;
    .bg {
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-image: url("../assets/images/cefc/first/bg.jpg");
    }
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
      margin-top: 50px;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          display: inline-block;
          margin-bottom: 10px;
        }
      }
      .col {
        height: 800px;
        > div {
          height: 100%;
          padding: 10px;
          background: rgba(80, 100, 120, .3);
          //&:hover {
          //  background: rgba(80, 100, 120, 0.4)
          //}
        }
        h1 {
          font-weight: bold;
          color: $brand-primary;
          margin-top: 30px;
        }
        p.comment {
          font-weight: bold;
          font-size: 20px;
        }
        p.content {
          text-align: left;
        }

        &.col-sm-8 {
          .h1-second {
            margin-top: 30px;
            margin-bottom: 30px;
          }
          li {
            margin-right: 20px;
          }
        }
        &.col-sm-4 {
          a.link-url {
            display: block;
            font-size: 26px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 10px;
          }
          li {
            margin-right: 5px;
          }
          img.cefc-pic {
            display: block;
            margin: 10px auto;
            width: 100%;
            @media(min-width: $screen-lg-min) {
              width: 80%;
            }
          }
        }
      }

    }
  }
  .second-container {
    background-color: rgba(75, 90, 100, 1);
    padding: 0;
    color: #fff;
    .bg {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-image: url("../assets/images/cefc/second/bg.jpg");
      height: 500px;
    }
    h1 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    h1, h3 {
      color: #58a5d5;
      font-weight: bold;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        float: left;
        display: inline-block;
        width: 14%;
        vertical-align: top;
        @media (max-width: $screen-sm-max) {
          width: 33%;
        }
        padding: 0 1%;
      }
    }
  }
}

#addvalue {
  .first-container {
    color: #fff;
    background-repeat: repeat;
    background-image: url("../assets/images/addvalue/first/bg.png");
    h1 {
      font-weight: bold;
      margin: 50px 0 30px;
    }
    p.comment {
      font-weight: bold;
      margin-bottom: 30px;
    }
    img {
      width: 80%;
    }

  }
  .second-container {
    h1, h3 {
      color: $brand-primary;
      font-weight: bold;
    }
    div.container {
      padding-top: 30px;
      .col {
        > div {
          margin: 20px 0px;
          height: 300px;
          background: rgba(80, 100, 120, .3);
          &:hover {
            background: rgba(80, 100, 120, .4);
          }
          padding: 30px;
          text-align: center;
          h3 {
            padding-bottom: 20px;
            border-bottom: 2px solid;
          }
        }
        @media (min-width: $screen-md-min) {
          &:nth-child(4) {
            margin-left: 16.5%;
          }
        }
      }
    }
  }
}

#portfolio {
  .first-container {
    background: rgba(80, 100, 120, 1);
    padding-bottom: 0px;
    h1, h3 {
      color: $brand-primary;
      font-weight: bold;
    }
    h1 {
      margin-top: 40px;
    }
    div.container {
      padding-top: 30px;
      .col {
        > div {
          margin: 20px 0px;
          background: #fff;
          padding: 30px;
          text-align: center;
          > span.icon {
            display: block;
            border-radius: 50%;
            width: 70px;
            overflow: hidden;
            margin: 0 auto;
            img {
              width: 70px;
              height: 70px;
            }
          }
          h3 {
            margin-bottom: 20px;
          }
          ul {
            list-style: none;
            padding-left: 0;
            li {
              position: relative;
              overflow: hidden;
              margin: 10px;
              img {
                width: 100%;
              }
              > div {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(255, 255, 255, .8);
                div {
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 80%;
                  margin: auto;
                  font-size: 14px;
                  font-weight: bold;
                }
              }
              &:hover {
                > div {
                  display: block;
                }
              }
            }

          }

        }
        @media (min-width: $screen-md-min) {
          &:nth-child(4) {
            margin-left: 16.5%;
          }
        }
      }
    }
  }
}

#team {
  .first-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/images/team/first/bg.jpg");
    padding: 0;
    h1 {
      margin-top: 30px;
      margin-bottom: 30px;
      color: $brand-primary;
      font-weight: bold;
      text-transform: uppercase;
    }
    .container-fluid {
      > ul {
        list-style: none;
        padding-left: 0;
        > li {
          float: left;
          display: inline-block;
          width: 20%;
          vertical-align: top;
          text-align: center;
          @media (max-width: $screen-md-max) {
            width: 33%;
          }
          @media (max-width: $screen-sm-max) {
            width: 50%;
          }
          padding: 0 1%;
          img {
            width: 60%;
          }
          p {
            background: white;
            padding: 5px 0px;
            display: block;
            font-weight: bold;
            width: 80%;
            margin: 20px auto;
            display: block;
            &.name {
              color: $brand-primary;
              height: 48px;
              position: relative;
              span{
                display: block;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
                width: 100%;
              }
            }
          }
          ul {
            background: #fff;
            color: #666;
            list-style: disc;
            width: 80%;
            margin: 0 auto;
            padding: 5px 5px 5px 30px;
            text-align: left;
            font-size: 12px;
            height: 250px;
            li {
              margin: 5px 0;
            }
          }

        }
      }
    }

  }
}
#contact{
  .first-container {
    h1, h3 {
      color: $brand-primary;
      font-weight: bold;
    }
    div.container {
      padding-top: 30px;
      .col {
        > div {
          margin: 20px 0px;
          height: 300px;
          background: rgba(80, 100, 120, .3);
          &:hover {
            background: rgba(80, 100, 120, .4);
          }
          padding: 30px;
          text-align: center;
          h3 {
            padding-bottom: 20px;
            border-bottom: 2px solid;
          }
          img.map{
            width: 80%;
            margin: 0 auto 20px;
            display: block;
          }
        }
      }
    }
  }
}

#career{
  .first-container {
    text-align: center;
    h1, h3 {
      color: $brand-primary;
      font-weight: bold;
    }
    div.container {
      padding-top: 30px;
      text-align: left;
      .column{
        background: rgba(200, 200, 200, .7);
        padding: 5px 15px;
        margin-bottom: 20px;
        .share{
          font-size: 16px;
          img{
            width: 20px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}






